{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "import/extensions": [ "error", "always", { "ignorePackages": true } ],
        "no-console": "off",
        "react/prop-types": "off"
    }
}